<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
    <title>Статьи. Админка. Пользователи активные.</title>
</head>
<body>
<div class="container py-3">
    <div th:insert="blocks/header :: headline"></div>

    <main>
        <h1>Пользователи не удалённые</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <th class="col-2">Пользователь</th>
            <th class="col">Имя</th>
            <th class="col-1">Роль</th>
            <th class="col-1">Удалить</th>
            </thead>
            <tr th:each="el : ${allUsers}">
                <td th:text="${el.username}"></td>
                <td th:text="${el.fullName}"></td>
                <td th:text="${el.role.name}"></td>
                <td><a class="btn btn-danger" th:href="@{/admin/user/{uId}/remove(uId=${el.id})}">Удаление</a></td>
            </tr>
        </table>
    </main>

    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
