<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
    <title th:text="#{admin.user.list.enable.title}"></title>
</head>
<body>
<div class="container py-3">
    <div th:insert="blocks/header :: headline"></div>

    <main>
        <h1 th:text="#{admin.user.list.enable.h1}"></h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <th class="col-2" th:text="#{users.username}"></th>
            <th class="col" th:text="#{users.full_name}"></th>
            <th class="col-1" th:text="#{users.role}"></th>
            <th class="col-1" th:text="#{element.delete}"></th>
            </thead>
            <tr th:each="el : ${allUsers}">
                <td th:text="${el.username}"></td>
                <td th:text="${el.fullName}"></td>
                <td th:text="${el.role.name}"></td>
                <td><a class="btn btn-danger" th:href="@{/admin/user/{uId}/remove(uId=${el.id})}" th:text="#{element.delete}"></a></td>
            </tr>
        </table>
    </main>

    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
