<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
  <title th:text="#{admin.topic.list.title}"></title>
</head>
<body>
<div class="container py-3">
  <div th:insert="blocks/header :: headline"></div>

  <main>
    <h1 th:text="#{admin.topic.list.h1}"></h1>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <th class="col" th:text="#{topic.topic}"></th>
      <th class="col-1" th:text="#{element.edit}"></th>
      <th class="col-1" th:text="#{element.delete}"></th>
      </thead>
      <tr th:each="el : ${allTopic}">
        <td th:text="${el.name}"></td>
        <td><a th:href="@{/admin/topic/{uId}/edit(uId=${el.id})}" class="btn btn-secondary" th:text="#{element.edit}"></a></td>
        <td><a th:href="@{/admin/topic/{uId}/remove(uId=${el.id})}" class="btn btn-danger" th:text="#{element.delete}"></a></td>
      </tr>
    </table>
  </main>

  <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
