<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
  <title th:text="#{admin.topic.add.title}"></title>
</head>
<body>
<div class="container py-3">
  <div th:insert="blocks/header :: headline"></div>

  <main>
    <form method="post" class="row g-3">
      <h1 th:text="#{admin.topic.add.h1}"></h1>
      <div th:insert="blocks/forms :: msg_error"></div>
      <div class="col-12">
        <label for="inputNameTopic" class="form-label" th:text="#{topic.topic}"></label>
        <input type="text" name="nameTopic" th:placeholder="#{topic.topic}" class="form-control" id="inputNameTopic">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" th:text="#{element.add}"></button>
      </div>
    </form>
  </main>

  <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
