<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
  <title th:text="#{note.read.title}"></title>
</head>
<body>
<div class="container py-3">
  <div th:insert="blocks/header :: headline"></div>

  <main>
    <div class="container">
      <div class="row">
        <div class="col col-lg-3">
          <p><span th:text="#{note.base.author}"></span>: <span class="fw-bold" th:text="${note.author.fullName}"></span></p>
          <div class="col col-lg-5">&nbsp;</div>
          <div class="col col-lg-auto">
            <p><span th:text="#{note.base.topic}"></span>: <span class="fw-bold" th:text="${note.topic.name}"></span></p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center" th:text="${note.title}"></h2>
    <p></p>
    <p th:utext="${note.text}"></p>
    <p></p>
    <th:block th:if="${infoUser.typeRoleUser>=0}">
      <div th:if="${infoUser.user.id==note.author.id}">
        <p><a class="btn btn-secondary" th:href="@{/note/{id}/edit(id=${note.id})}" th:text="#{element.edit}"></a></p>
      </div>
      <div th:if="${infoUser.typeRoleUser==0 || infoUser.user.id==note.author.id}">
        <p><a class="btn btn-danger" th:href="@{/note/{id}/remove(id=${note.id})}" th:text="#{element.delete}"></a></p>
      </div>
    </th:block>
  </main>

  <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
