<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
  <title th:text="#{note.add.title}"></title>
</head>
<body>
<div class="container py-3">
  <div th:insert="blocks/header :: headline"></div>

  <main>
    <form method="post" class="row g-3">
      <h1 th:text="#{note.add.h1}"></h1>
      <div th:fragment="noteForm">
        <div th:insert="blocks/forms :: msg_error"></div>
        <div class="col-12">
          <label for="selectTopic" class="form-label" th:text="#{note.base.topic}"></label>
          <select name="idTopic" class="form-control" id="selectTopic">
            <option th:each="el : ${topicList}" th:value="${el.id}" th:placeholder="#{note.base.topic}" th:selected="${el.id==newNote.topic.id}? 'selected'"><spin th:text="${el.name}"></spin></option>
          </select>
        </div>
        <div class="col-12">
          <label for="inputTitle" class="form-label" th:text="#{note.base.title}"></label>
          <input type="text" name="noteTitle" th:placeholder="#{note.base.title}" class="form-control" id="inputTitle" th:value="${newNote.title}">
        </div>
        <div class="col-12">
          <label for="inputText" class="form-label" th:text="#{note.base.note}"></label>
          <textarea name="noteText" th:placeholder="#{note.base.note}" class="form-control" id="inputText" rows="5" th:text="${newNote.text}"></textarea>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" th:text="#{element.add}"></button>
      </div>
    </form>
  </main>

  <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
