<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
    <title>Статьи. Главная</title>
</head>
<body>
<div class="container py-3">
    <div th:insert="blocks/header :: headline"></div>

    <main>
        <form method="post" class="row g-3" th:action="@{/login}">
            <h2>Вход в систему</h2>
            <div class="col-12">
                <label for="inputUsername" class="form-label">Имя пользователя</label>
                <input type="text" name="username" placeholder="Пользователь" class="form-control" autofocus="true" id="inputUsername">
            </div>
            <div class="col-12">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input type="password" name="password" placeholder="Пароль" class="form-control" id="inputPassword">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
        <br>
        <h4><a th:href="@{/registration}" class="btn btn-secondary">Зарегистрироваться</a></h4>
    </main>

    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
