<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: common_header(~{::title})">
    <title th:text="#{login.title}"></title>
</head>
<body>
<div class="container py-3">
    <div th:insert="blocks/header :: headline"></div>

    <main>
        <form method="post" class="row g-3" th:action="@{/login}">
            <h1 th:text="#{login.h1}"></h1>
            <div class="col-12">
                <label for="inputUsername" class="form-label" th:text="#{users.username}"></label>
                <input type="text" name="username" th:placeholder="#{users.username}" class="form-control" autofocus="true" id="inputUsername">
            </div>
            <div class="col-12">
                <label for="inputPassword" class="form-label" th:text="#{users.password}"></label>
                <input type="password" name="password" th:placeholder="#{users.password}" class="form-control" id="inputPassword">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" th:text="#{authorization.login}"></button>
            </div>
        </form>
        <br>
        <h4><a th:href="@{/registration}" class="btn btn-secondary" th:text="#{authorization.registration}"></a></h4>
    </main>

    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
